<div class="wrapper">
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="text-center mx-2 mt-2">Recibe novedades de NOISE</h2>
                    <%= form_with model: @user do |f| %>
                    <div class="form-group mt-2>
                        <%= f.label :email, class: "control-label" %>
                        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
                    </div>
                    <div class="form-group mt-4">
                        <%= f.submit "Send", class: "btn btn-dark" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer container py-5 mt-auto sticky-footer">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-body-secondary">&copy; Noise 2024</small>
        </div>
    </div>
</footer>

<style>
    body {
        height: 100%;
    }
    .wrapper {
        dispay: flex;
        flex-direction: column;
        min-height: 100vh;    
    }

    .content {
        flex: 1;
    }
    .footer {
        flex-shrink: 0;
    }
</style>